:root {
  --text-color: rgba(66, 66, 66, 1);
  --defaultprimary-color: rgba(23, 145, 224, 1);
  --defaulttext-color: rgba(51, 51, 51, 1);
  --defaultwhite: rgba(255, 255, 255, 1);
  --defaultgray: rgba(152, 162, 179, 1);
  --foundation-primaryprimary-50: rgba(230, 244, 253, 1);
  --foundation-primaryprimary-100: rgba(176, 222, 248, 1);
  --foundation-primaryprimary-200: rgba(138, 206, 244, 1);
  --foundation-primaryprimary-300: rgba(84, 183, 239, 1);
  --foundation-primaryprimary-400: rgba(51, 169, 236, 1);
  --foundation-primaryprimary-500: rgba(0, 148, 231, 1);
  --foundation-primaryprimary-600: rgba(0, 135, 210, 1);
  --foundation-primaryprimary-700: rgba(0, 105, 164, 1);
  --foundation-primaryprimary-800: rgba(0, 81, 127, 1);
  --foundation-primaryprimary-900: rgba(0, 62, 97, 1);
  --foundation-neutraln0: rgba(255, 255, 255, 1);
  --foundation-neutraln10: rgba(251, 251, 251, 1);
  --foundation-neutraln20: rgba(247, 247, 247, 1);
  --foundation-neutraln30: rgba(239, 239, 239, 1);
  --foundation-neutraln40: rgba(228, 228, 228, 1);
  --foundation-neutraln50: rgba(204, 204, 204, 1);
  --foundation-neutraln60: rgba(192, 192, 192, 1);
  --foundation-neutraln70: rgba(182, 182, 182, 1);
  --foundation-neutraln80: rgba(169, 169, 169, 1);
  --foundation-neutraln90: rgba(157, 157, 157, 1);
  --foundation-neutraln100: rgba(145, 145, 145, 1);
  --foundation-neutraln200: rgba(133, 133, 133, 1);
  --foundation-neutraln300: rgba(120, 120, 120, 1);
  --foundation-neutraln400: rgba(110, 110, 110, 1);
  --foundation-neutraln500: rgba(98, 98, 98, 1);
  --foundation-neutraln600: rgba(88, 88, 88, 1);
  --foundation-neutraln700: rgba(73, 73, 73, 1);
  --foundation-neutraln800: rgba(61, 61, 61, 1);
  --foundation-neutraln900: rgba(51, 51, 51, 1);
  --h1-font-family: "Poppins-Regular", Helvetica;
  --h1-font-weight: 400;
  --h1-font-size: 48px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 139.9999976158142%;
  --h1-font-style: normal;
  --h1-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h1-semibold-font-weight: 600;
  --h1-semibold-font-size: 48px;
  --h1-semibold-letter-spacing: 0px;
  --h1-semibold-line-height: 139.9999976158142%;
  --h1-semibold-font-style: normal;
  --h1-medium-font-family: "Poppins-Medium", Helvetica;
  --h1-medium-font-weight: 500;
  --h1-medium-font-size: 48px;
  --h1-medium-letter-spacing: 0px;
  --h1-medium-line-height: 139.9999976158142%;
  --h1-medium-font-style: normal;
  --h2-font-family: "Poppins-Regular", Helvetica;
  --h2-font-weight: 400;
  --h2-font-size: 40px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 139.9999976158142%;
  --h2-font-style: normal;
  --h2-medium-font-family: "Poppins-Medium", Helvetica;
  --h2-medium-font-weight: 500;
  --h2-medium-font-size: 40px;
  --h2-medium-letter-spacing: 0px;
  --h2-medium-line-height: 139.9999976158142%;
  --h2-medium-font-style: normal;
  --h3-font-family: "Poppins-Regular", Helvetica;
  --h3-font-weight: 400;
  --h3-font-size: 33px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 139.9999976158142%;
  --h3-font-style: normal;
  --h3-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h3-semibold-font-weight: 600;
  --h3-semibold-font-size: 33px;
  --h3-semibold-letter-spacing: 0px;
  --h3-semibold-line-height: 139.9999976158142%;
  --h3-semibold-font-style: normal;
  --h3-medium-font-family: "Poppins-Medium", Helvetica;
  --h3-medium-font-weight: 500;
  --h3-medium-font-size: 33px;
  --h3-medium-letter-spacing: 0px;
  --h3-medium-line-height: 139.9999976158142%;
  --h3-medium-font-style: normal;
  --h4-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h4-semibold-font-weight: 600;
  --h4-semibold-font-size: 28px;
  --h4-semibold-letter-spacing: 0px;
  --h4-semibold-line-height: 139.9999976158142%;
  --h4-semibold-font-style: normal;
  --h4-font-family: "Poppins-Regular", Helvetica;
  --h4-font-weight: 400;
  --h4-font-size: 28px;
  --h4-letter-spacing: 0px;
  --h4-line-height: 139.9999976158142%;
  --h4-font-style: normal;
  --h5-font-family: "Poppins-Regular", Helvetica;
  --h5-font-weight: 400;
  --h5-font-size: 23px;
  --h5-letter-spacing: 0px;
  --h5-line-height: 139.9999976158142%;
  --h5-font-style: normal;
  --h4-medium-font-family: "Poppins-Medium", Helvetica;
  --h4-medium-font-weight: 500;
  --h4-medium-font-size: 28px;
  --h4-medium-letter-spacing: 0px;
  --h4-medium-line-height: 139.9999976158142%;
  --h4-medium-font-style: normal;
  --h5-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h5-semibold-font-weight: 600;
  --h5-semibold-font-size: 23px;
  --h5-semibold-letter-spacing: 0px;
  --h5-semibold-line-height: 139.9999976158142%;
  --h5-semibold-font-style: normal;
  --title-1-font-family: "Poppins-Regular", Helvetica;
  --title-1-font-weight: 400;
  --title-1-font-size: 19px;
  --title-1-letter-spacing: 0px;
  --title-1-line-height: 139.9999976158142%;
  --title-1-font-style: normal;
  --h5-medium-font-family: "Poppins-Medium", Helvetica;
  --h5-medium-font-weight: 500;
  --h5-medium-font-size: 23px;
  --h5-medium-letter-spacing: 0px;
  --h5-medium-line-height: 139.9999976158142%;
  --h5-medium-font-style: normal;
  --title-5-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --title-5-semibold-font-weight: 600;
  --title-5-semibold-font-size: 19px;
  --title-5-semibold-letter-spacing: 0px;
  --title-5-semibold-line-height: 139.9999976158142%;
  --title-5-semibold-font-style: normal;
  --title-3-medium-font-family: "Poppins-Medium", Helvetica;
  --title-3-medium-font-weight: 500;
  --title-3-medium-font-size: 19px;
  --title-3-medium-letter-spacing: 0px;
  --title-3-medium-line-height: 139.9999976158142%;
  --title-3-medium-font-style: normal;
  --title-2-font-family: "Poppins-Regular", Helvetica;
  --title-2-font-weight: 400;
  --title-2-font-size: 16px;
  --title-2-letter-spacing: 0px;
  --title-2-line-height: 139.9999976158142%;
  --title-2-font-style: normal;
  --title-6-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --title-6-semibold-font-weight: 600;
  --title-6-semibold-font-size: 16px;
  --title-6-semibold-letter-spacing: 0px;
  --title-6-semibold-line-height: 139.9999976158142%;
  --title-6-semibold-font-style: normal;
  --title-4-medium-font-family: "Poppins-Medium", Helvetica;
  --title-4-medium-font-weight: 500;
  --title-4-medium-font-size: 16px;
  --title-4-medium-letter-spacing: 0px;
  --title-4-medium-line-height: 139.9999976158142%;
  --title-4-medium-font-style: normal;
  --body-font-family: "Poppins-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 13px;
  --body-letter-spacing: 0px;
  --body-line-height: 139.9999976158142%;
  --body-font-style: normal;
  --h2-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h2-semibold-font-weight: 600;
  --h2-semibold-font-size: 40px;
  --h2-semibold-letter-spacing: 0px;
  --h2-semibold-line-height: 139.9999976158142%;
  --h2-semibold-font-style: normal;
  --body-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --body-semibold-font-weight: 600;
  --body-semibold-font-size: 13px;
  --body-semibold-letter-spacing: 0px;
  --body-semibold-line-height: 139.9999976158142%;
  --body-semibold-font-style: normal;
  --body-medium-font-family: "Poppins-Medium", Helvetica;
  --body-medium-font-weight: 500;
  --body-medium-font-size: 13px;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 139.9999976158142%;
  --body-medium-font-style: normal;
  --caption-font-family: "Poppins-Regular", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 11px;
  --caption-letter-spacing: 0px;
  --caption-line-height: 139.9999976158142%;
  --caption-font-style: normal;
  --caption-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --caption-semibold-font-weight: 600;
  --caption-semibold-font-size: 11px;
  --caption-semibold-letter-spacing: 0px;
  --caption-semibold-line-height: 139.9999976158142%;
  --caption-semibold-font-style: normal;
  --caption-medium-font-family: "Poppins-Medium", Helvetica;
  --caption-medium-font-weight: 500;
  --caption-medium-font-size: 11px;
  --caption-medium-letter-spacing: 0px;
  --caption-medium-line-height: 139.9999976158142%;
  --caption-medium-font-style: normal;
  --roboto-h3-light-font-family: "Roboto-Light", Helvetica;
  --roboto-h3-light-font-weight: 300;
  --roboto-h3-light-font-size: 36px;
  --roboto-h3-light-letter-spacing: 0px;
  --roboto-h3-light-line-height: normal;
  --roboto-h3-light-font-style: normal;
  --roboto-h5-medium-font-family: "Roboto-Medium", Helvetica;
  --roboto-h5-medium-font-weight: 500;
  --roboto-h5-medium-font-size: 22px;
  --roboto-h5-medium-letter-spacing: 0px;
  --roboto-h5-medium-line-height: 30px;
  --roboto-h5-medium-font-style: normal;
  --roboto-input-label-font-family: "Roboto-Regular", Helvetica;
  --roboto-input-label-font-weight: 400;
  --roboto-input-label-font-size: 20px;
  --roboto-input-label-letter-spacing: 0px;
  --roboto-input-label-line-height: 28px;
  --roboto-input-label-font-style: normal;
  --roboto-text-1-font-family: "Roboto-Regular", Helvetica;
  --roboto-text-1-font-weight: 400;
  --roboto-text-1-font-size: 18px;
  --roboto-text-1-letter-spacing: 0px;
  --roboto-text-1-line-height: 28px;
  --roboto-text-1-font-style: normal;
  --roboto-h4-font-family: "Roboto-Light", Helvetica;
  --roboto-h4-font-weight: 300;
  --roboto-h4-font-size: 24px;
  --roboto-h4-letter-spacing: 0px;
  --roboto-h4-line-height: normal;
  --roboto-h4-font-style: normal;
  --roboto-button-font-family: "Roboto-Medium", Helvetica;
  --roboto-button-font-weight: 500;
  --roboto-button-font-size: 18px;
  --roboto-button-letter-spacing: 0px;
  --roboto-button-line-height: normal;
  --roboto-button-font-style: normal;
  --roboto-text-3-font-family: "Roboto-Regular", Helvetica;
  --roboto-text-3-font-weight: 400;
  --roboto-text-3-font-size: 14px;
  --roboto-text-3-letter-spacing: 0px;
  --roboto-text-3-line-height: 20px;
  --roboto-text-3-font-style: normal;
  --roboto-text-3-semi-bold-font-family: "OpenSans-SemiBold", Helvetica;
  --roboto-text-3-semi-bold-font-weight: 600;
  --roboto-text-3-semi-bold-font-size: 14px;
  --roboto-text-3-semi-bold-letter-spacing: 0px;
  --roboto-text-3-semi-bold-line-height: 139.9999976158142%;
  --roboto-text-3-semi-bold-font-style: normal;
  --robot-h6-semi-bold-font-family: "Roboto-SemiBold", Helvetica;
  --robot-h6-semi-bold-font-weight: 600;
  --robot-h6-semi-bold-font-size: 20px;
  --robot-h6-semi-bold-letter-spacing: 0px;
  --robot-h6-semi-bold-line-height: 28px;
  --robot-h6-semi-bold-font-style: normal;
  --roboto-button-SM-font-family: "Roboto-Medium", Helvetica;
  --roboto-button-SM-font-weight: 500;
  --roboto-button-SM-font-size: 16px;
  --roboto-button-SM-letter-spacing: 0px;
  --roboto-button-SM-line-height: 24px;
  --roboto-button-SM-font-style: normal;
  --roboto-body-0-medium-font-family: "Roboto-Medium", Helvetica;
  --roboto-body-0-medium-font-weight: 500;
  --roboto-body-0-medium-font-size: 20px;
  --roboto-body-0-medium-letter-spacing: 0px;
  --roboto-body-0-medium-line-height: 28px;
  --roboto-body-0-medium-font-style: normal;
  --shadow-nav-btn: 0px 2px 6px 0px rgba(0, 0, 0, 0.04);
}

:root {
  --text-color: rgba(66, 66, 66, 1);
  --defaultprimary-color: rgba(23, 145, 224, 1);
  --defaulttext-color: rgba(51, 51, 51, 1);
  --defaultwhite: rgba(255, 255, 255, 1);
  --defaultgray: rgba(152, 162, 179, 1);
  --foundation-primaryprimary-50: rgba(230, 244, 253, 1);
  --foundation-primaryprimary-100: rgba(176, 222, 248, 1);
  --foundation-primaryprimary-200: rgba(138, 206, 244, 1);
  --foundation-primaryprimary-300: rgba(84, 183, 239, 1);
  --foundation-primaryprimary-400: rgba(51, 169, 236, 1);
  --foundation-primaryprimary-500: rgba(0, 148, 231, 1);
  --foundation-primaryprimary-600: rgba(0, 135, 210, 1);
  --foundation-primaryprimary-700: rgba(0, 105, 164, 1);
  --foundation-primaryprimary-800: rgba(0, 81, 127, 1);
  --foundation-primaryprimary-900: rgba(0, 62, 97, 1);
  --foundation-neutraln0: rgba(255, 255, 255, 1);
  --foundation-neutraln10: rgba(251, 251, 251, 1);
  --foundation-neutraln20: rgba(247, 247, 247, 1);
  --foundation-neutraln30: rgba(239, 239, 239, 1);
  --foundation-neutraln40: rgba(228, 228, 228, 1);
  --foundation-neutraln50: rgba(204, 204, 204, 1);
  --foundation-neutraln60: rgba(192, 192, 192, 1);
  --foundation-neutraln70: rgba(182, 182, 182, 1);
  --foundation-neutraln80: rgba(169, 169, 169, 1);
  --foundation-neutraln90: rgba(157, 157, 157, 1);
  --foundation-neutraln100: rgba(145, 145, 145, 1);
  --foundation-neutraln200: rgba(133, 133, 133, 1);
  --foundation-neutraln300: rgba(120, 120, 120, 1);
  --foundation-neutraln400: rgba(110, 110, 110, 1);
  --foundation-neutraln500: rgba(98, 98, 98, 1);
  --foundation-neutraln600: rgba(88, 88, 88, 1);
  --foundation-neutraln700: rgba(73, 73, 73, 1);
  --foundation-neutraln800: rgba(61, 61, 61, 1);
  --foundation-neutraln900: rgba(51, 51, 51, 1);
  --yellow: rgba(242, 201, 76, 1);
  --white: rgba(255, 255, 255, 1);
  --gray-300: rgba(208, 213, 221, 1);
  --neutraltuna: rgba(53, 53, 55, 1);
  --neutralmercury: rgba(225, 225, 225, 1);
  --shadepure-white: rgba(255, 255, 255, 1);
  --primarycerulean-primary: rgba(0, 174, 239, 1);
  --neutralabbey: rgba(88, 89, 91, 1);
  --neutralsantas-gray: rgba(155, 155, 157, 1);
  --neutralmischka: rgba(238, 238, 239, 1);
  --primarypacific: rgba(0, 139, 191, 1);
  --primaryorient: rgba(0, 87, 120, 1);
  --secondarychateau-primary: rgba(57, 181, 74, 1);
  --secondaryforest: rgba(38, 120, 49, 1);
  --secondaryparsley: rgba(29, 91, 37, 1);
  --h1-font-family: "Poppins-Regular", Helvetica;
  --h1-font-weight: 400;
  --h1-font-size: 48px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 139.9999976158142%;
  --h1-font-style: normal;
  --h1-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h1-semibold-font-weight: 600;
  --h1-semibold-font-size: 48px;
  --h1-semibold-letter-spacing: 0px;
  --h1-semibold-line-height: 139.9999976158142%;
  --h1-semibold-font-style: normal;
  --h1-medium-font-family: "Poppins-Medium", Helvetica;
  --h1-medium-font-weight: 500;
  --h1-medium-font-size: 48px;
  --h1-medium-letter-spacing: 0px;
  --h1-medium-line-height: 139.9999976158142%;
  --h1-medium-font-style: normal;
  --h2-font-family: "Poppins-Regular", Helvetica;
  --h2-font-weight: 400;
  --h2-font-size: 40px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 139.9999976158142%;
  --h2-font-style: normal;
  --h2-medium-font-family: "Poppins-Medium", Helvetica;
  --h2-medium-font-weight: 500;
  --h2-medium-font-size: 40px;
  --h2-medium-letter-spacing: 0px;
  --h2-medium-line-height: 139.9999976158142%;
  --h2-medium-font-style: normal;
  --h3-font-family: "Poppins-Regular", Helvetica;
  --h3-font-weight: 400;
  --h3-font-size: 33px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 139.9999976158142%;
  --h3-font-style: normal;
  --h3-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h3-semibold-font-weight: 600;
  --h3-semibold-font-size: 33px;
  --h3-semibold-letter-spacing: 0px;
  --h3-semibold-line-height: 139.9999976158142%;
  --h3-semibold-font-style: normal;
  --h3-medium-font-family: "Poppins-Medium", Helvetica;
  --h3-medium-font-weight: 500;
  --h3-medium-font-size: 33px;
  --h3-medium-letter-spacing: 0px;
  --h3-medium-line-height: 139.9999976158142%;
  --h3-medium-font-style: normal;
  --h4-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h4-semibold-font-weight: 600;
  --h4-semibold-font-size: 28px;
  --h4-semibold-letter-spacing: 0px;
  --h4-semibold-line-height: 139.9999976158142%;
  --h4-semibold-font-style: normal;
  --h4-font-family: "Poppins-Regular", Helvetica;
  --h4-font-weight: 400;
  --h4-font-size: 28px;
  --h4-letter-spacing: 0px;
  --h4-line-height: 139.9999976158142%;
  --h4-font-style: normal;
  --h5-font-family: "Poppins-Regular", Helvetica;
  --h5-font-weight: 400;
  --h5-font-size: 23px;
  --h5-letter-spacing: 0px;
  --h5-line-height: 139.9999976158142%;
  --h5-font-style: normal;
  --h4-medium-font-family: "Poppins-Medium", Helvetica;
  --h4-medium-font-weight: 500;
  --h4-medium-font-size: 28px;
  --h4-medium-letter-spacing: 0px;
  --h4-medium-line-height: 139.9999976158142%;
  --h4-medium-font-style: normal;
  --h5-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h5-semibold-font-weight: 600;
  --h5-semibold-font-size: 23px;
  --h5-semibold-letter-spacing: 0px;
  --h5-semibold-line-height: 139.9999976158142%;
  --h5-semibold-font-style: normal;
  --title-1-font-family: "Poppins-Regular", Helvetica;
  --title-1-font-weight: 400;
  --title-1-font-size: 19px;
  --title-1-letter-spacing: 0px;
  --title-1-line-height: 139.9999976158142%;
  --title-1-font-style: normal;
  --h5-medium-font-family: "Poppins-Medium", Helvetica;
  --h5-medium-font-weight: 500;
  --h5-medium-font-size: 23px;
  --h5-medium-letter-spacing: 0px;
  --h5-medium-line-height: 139.9999976158142%;
  --h5-medium-font-style: normal;
  --title-5-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --title-5-semibold-font-weight: 600;
  --title-5-semibold-font-size: 19px;
  --title-5-semibold-letter-spacing: 0px;
  --title-5-semibold-line-height: 139.9999976158142%;
  --title-5-semibold-font-style: normal;
  --title-3-medium-font-family: "Poppins-Medium", Helvetica;
  --title-3-medium-font-weight: 500;
  --title-3-medium-font-size: 19px;
  --title-3-medium-letter-spacing: 0px;
  --title-3-medium-line-height: 139.9999976158142%;
  --title-3-medium-font-style: normal;
  --title-2-font-family: "Poppins-Regular", Helvetica;
  --title-2-font-weight: 400;
  --title-2-font-size: 16px;
  --title-2-letter-spacing: 0px;
  --title-2-line-height: 139.9999976158142%;
  --title-2-font-style: normal;
  --title-6-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --title-6-semibold-font-weight: 600;
  --title-6-semibold-font-size: 16px;
  --title-6-semibold-letter-spacing: 0px;
  --title-6-semibold-line-height: 139.9999976158142%;
  --title-6-semibold-font-style: normal;
  --title-4-medium-font-family: "Poppins-Medium", Helvetica;
  --title-4-medium-font-weight: 500;
  --title-4-medium-font-size: 16px;
  --title-4-medium-letter-spacing: 0px;
  --title-4-medium-line-height: 139.9999976158142%;
  --title-4-medium-font-style: normal;
  --body-font-family: "Poppins-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 13px;
  --body-letter-spacing: 0px;
  --body-line-height: 139.9999976158142%;
  --body-font-style: normal;
  --h2-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h2-semibold-font-weight: 600;
  --h2-semibold-font-size: 40px;
  --h2-semibold-letter-spacing: 0px;
  --h2-semibold-line-height: 139.9999976158142%;
  --h2-semibold-font-style: normal;
  --body-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --body-semibold-font-weight: 600;
  --body-semibold-font-size: 13px;
  --body-semibold-letter-spacing: 0px;
  --body-semibold-line-height: 139.9999976158142%;
  --body-semibold-font-style: normal;
  --body-medium-font-family: "Poppins-Medium", Helvetica;
  --body-medium-font-weight: 500;
  --body-medium-font-size: 13px;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 139.9999976158142%;
  --body-medium-font-style: normal;
  --caption-font-family: "Poppins-Regular", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 11px;
  --caption-letter-spacing: 0px;
  --caption-line-height: 139.9999976158142%;
  --caption-font-style: normal;
  --caption-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --caption-semibold-font-weight: 600;
  --caption-semibold-font-size: 11px;
  --caption-semibold-letter-spacing: 0px;
  --caption-semibold-line-height: 139.9999976158142%;
  --caption-semibold-font-style: normal;
  --caption-medium-font-family: "Poppins-Medium", Helvetica;
  --caption-medium-font-weight: 500;
  --caption-medium-font-size: 11px;
  --caption-medium-letter-spacing: 0px;
  --caption-medium-line-height: 139.9999976158142%;
  --caption-medium-font-style: normal;
  --roboto-h3-light-font-family: "Roboto-Light", Helvetica;
  --roboto-h3-light-font-weight: 300;
  --roboto-h3-light-font-size: 36px;
  --roboto-h3-light-letter-spacing: 0px;
  --roboto-h3-light-line-height: normal;
  --roboto-h3-light-font-style: normal;
  --roboto-h5-medium-font-family: "Roboto-Medium", Helvetica;
  --roboto-h5-medium-font-weight: 500;
  --roboto-h5-medium-font-size: 22px;
  --roboto-h5-medium-letter-spacing: 0px;
  --roboto-h5-medium-line-height: 30px;
  --roboto-h5-medium-font-style: normal;
  --roboto-input-label-font-family: "Roboto-Regular", Helvetica;
  --roboto-input-label-font-weight: 400;
  --roboto-input-label-font-size: 20px;
  --roboto-input-label-letter-spacing: 0px;
  --roboto-input-label-line-height: 28px;
  --roboto-input-label-font-style: normal;
  --roboto-text-1-font-family: "Roboto-Regular", Helvetica;
  --roboto-text-1-font-weight: 400;
  --roboto-text-1-font-size: 18px;
  --roboto-text-1-letter-spacing: 0px;
  --roboto-text-1-line-height: 28px;
  --roboto-text-1-font-style: normal;
  --roboto-h4-font-family: "Roboto-Light", Helvetica;
  --roboto-h4-font-weight: 300;
  --roboto-h4-font-size: 24px;
  --roboto-h4-letter-spacing: 0px;
  --roboto-h4-line-height: normal;
  --roboto-h4-font-style: normal;
  --roboto-button-font-family: "Roboto-Medium", Helvetica;
  --roboto-button-font-weight: 500;
  --roboto-button-font-size: 18px;
  --roboto-button-letter-spacing: 0px;
  --roboto-button-line-height: normal;
  --roboto-button-font-style: normal;
  --roboto-text-3-font-family: "Roboto-Regular", Helvetica;
  --roboto-text-3-font-weight: 400;
  --roboto-text-3-font-size: 14px;
  --roboto-text-3-letter-spacing: 0px;
  --roboto-text-3-line-height: 20px;
  --roboto-text-3-font-style: normal;
  --roboto-text-3-semi-bold-font-family: "OpenSans-SemiBold", Helvetica;
  --roboto-text-3-semi-bold-font-weight: 600;
  --roboto-text-3-semi-bold-font-size: 14px;
  --roboto-text-3-semi-bold-letter-spacing: 0px;
  --roboto-text-3-semi-bold-line-height: 139.9999976158142%;
  --roboto-text-3-semi-bold-font-style: normal;
  --robot-h6-semi-bold-font-family: "Roboto-SemiBold", Helvetica;
  --robot-h6-semi-bold-font-weight: 600;
  --robot-h6-semi-bold-font-size: 20px;
  --robot-h6-semi-bold-letter-spacing: 0px;
  --robot-h6-semi-bold-line-height: 28px;
  --robot-h6-semi-bold-font-style: normal;
  --roboto-button-SM-font-family: "Roboto-Medium", Helvetica;
  --roboto-button-SM-font-weight: 500;
  --roboto-button-SM-font-size: 16px;
  --roboto-button-SM-letter-spacing: 0px;
  --roboto-button-SM-line-height: 24px;
  --roboto-button-SM-font-style: normal;
  --roboto-body-0-medium-font-family: "Roboto-Medium", Helvetica;
  --roboto-body-0-medium-font-weight: 500;
  --roboto-body-0-medium-font-size: 20px;
  --roboto-body-0-medium-letter-spacing: 0px;
  --roboto-body-0-medium-line-height: 28px;
  --roboto-body-0-medium-font-style: normal;
  --button-font-family: "Roboto-Medium", Helvetica;
  --button-font-weight: 500;
  --button-font-size: 18px;
  --button-letter-spacing: 0px;
  --button-line-height: normal;
  --button-font-style: normal;
  --shadow-nav-btn: 0px 2px 6px 0px rgba(0, 0, 0, 0.04);
}

