.visually-hidden
{
    display: none;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
#ada-overlay-widget-container [role='button'],
#ada-overlay-widget-container [role='switch'],
#ada-overlay-widget-container [role='slider'],
#ada-overlay-widget-container [role='combobox'],
#ada-overlay-widget-container [role='option'] {
    cursor: pointer;
}

.b-r-Left {
    border-radius: 0px 10px 10px 0px !important;
}
.b-r-Right {
    border-radius: 10px 0px 0px 10px !important;
}
.positionTopLeft{
    left: 0px !important;
}
.positionTopRight{
    right: 0px !important;
}
.positionBottomLeft{
    left: 0px !important;
    top: 90% !important;
}
.positionBottomRight{
    right: 0px !important;
    top: 90% !important;
}
.popupPositionTopLeft {
    left: 0px !important;
    top: 0px !important;
}
.popupPositionBottomLeft {
    left: 0px !important;
    top: 0px !important;
}
.popupPositionTopRight {
    right: 0 !important;                                                                                                                                               ;px !important;
    top: 0px !important;
}
.popupPositionBottomRight {
    right: 0 !important;
    top: 0px !important;
}
#overlay-icon {
    position: fixed;
    right: 0px;
    top: 30px;
    width: 35px;
    height: 52px;
    background-color: #B97800; /*#CF8400 <- accessible; inaccessible -> #eb9e3e;*/
    border-radius: 8.32px 0px 0px 8.32px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    user-select: none;
    z-index: 1000000;
}
#overlay-icon:focus {
    outline: solid 3px var(--foundation-primaryprimary-700);
    outline-offset: 2px;
}

#overlay-icon .vector {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 15px;
  left: 11px;
  user-select:none;
}

#overlay-icon .img {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 19px;
  left: 4px;
}

.active{
  background-color: /*#E6F4FD*/ #BEE6FD !important;
}

#overlay-popup [role="button"]:focus,
#overlay-popup [role="combobox"]:focus,
#overlay-popup [role="option"]:focus,
#overlay-popup [role="switch"]:focus {
    outline: solid 3px var(--foundation-neutraln400);
}

#overlay-popup [role="button"].active:focus,
#overlay-popup [role="combobox"].active:focus,
#overlay-popup [role="option"].active:focus,
#overlay-popup [role="switch"].active:focus {
    outline: solid 3px var(--foundation-primaryprimary-700);
}

#overlay-popup [role='slider']:focus {
    outline: solid 3px var(--foundation-neutraln400);
    outline-offset: 2px;
}

#revert-all:focus, #close-popup:focus{
    outline: solid #fff 3px !important;
}

/*Revert Icon - Font Settings*/
.revertFontStyle, .revertFontSize {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    padding: 12px;
    position: relative;
    background-color: var(--foundation-primaryprimary-50);
    border-radius: 20px;
    overflow: hidden;
}

    .revertFontStyle .revertIcon, .revertFontSize .revertIcon {
        margin-top: -7px;
        margin-bottom: -5px;
        margin-left: -6px;
        margin-right: -6px;
        color: var(--foundation-primaryprimary-400);
        font-size: 12px;
        position: relative;
        width: fit-content;
        font-family: "Font Awesome 5 Pro-Regular", Helvetica !important;
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
    }
